.h-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  padding: .6rem;
  border-radius: 50%;
  transform: translateY(-20%);
  
  svg {
    color: red;
  }

  &:hover {
    background-color: #ccc;
  }
}

.h-perfectly-centerd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-fullscreen {
  height: 100%;
  width: 100%;
}